<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Poppins');

.navbar{
    text-decoration-color: aliceblue;
}

.jumbotron{
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(66, 229, 244);
    opacity: 0.65;
}

.table{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control{
    /* max-width: 300px; */
    margin-right: auto;
}


.navbar{
    margin-bottom: 50px;
}

.content1{
    text-align: center;
}

input{
    max-width: 450px;
    margin: 0 auto 0 auto;
}
.loginForm{
    max-width: 650px;
    max-height: 650px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto 0 auto;
    background-color: rgb(66, 229, 244);
    opacity: 0.85;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: rgb(66, 229, 244);
    opacity: 0.85;
    padding: 30px;
    width: 90%;
    max-height: 600px;
    max-width: 600px;
    height:350px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    padding: 20px;
    height:350px;
  }


.btn{
    max-width: 250px;
    margin: 0 auto 0 auto;
}

body, html{
    background-image: url('https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 100%;
    /* Center ans scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins", sans-serif;
=======
@import url('https://fonts.googleapis.com/css?family=Poppins');


.jumbotron{
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(66, 229, 244);
    opacity: 0.65;
}

.table{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control{
    /* max-width: 300px; */
    margin-right: auto;
}


.navbar{
    margin-bottom: 50px;
}

.content1{
    text-align: center;
}

input{
    max-width: 450px;
    margin: 0 auto 0 auto;
}
.loginForm{
    max-width: 650px;
    max-height: 650px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto 0 auto;
    background-color: rgb(66, 229, 244);
    opacity: 0.85;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: rgb(66, 229, 244);
    opacity: 0.85;
    padding: 30px;
    width: 90%;
    max-height: 600px;
    max-width: 600px;
    height:350px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    padding: 20px;
    height:350px;
  }


.btn{
    max-width: 250px;
    margin: 0 auto 0 auto;
}

body, html{
    background-image: url('https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 100%;
    /* Center ans scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins", sans-serif;
>>>>>>> 5bb7f29018628b19eed0d0a445d0c0e8648aa025
}